.box {
	margin-top: 5rem;
	color: var(--text-color);
	.submit {
		margin-top: 5rem;
		width: 100%;
		padding: 1em;
	}
	.message {
		font-size: 2rem;
	}
	a {
		font-size: 1.4rem;
	}
	p {
		span {
			font-weight: bold;
		}
	}
}

@media (min-width: 768px) {
	.box {
		a {
			display: block;
			margin: 0.5em 0;
			font-size: 2rem;
		}
	}
}
