@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Sora:wght@200;300;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
main {
	margin-top: 7vh;
}

body {
	font-family: 'Sora', sans-serif;
}

:root {
	--main-purple: #6d21d7;
	--main-purple-darker: #3c0686;
	--white: #fff;
	--white-cream: #f8f3f3;
	--error: #ff6347;
	--health-color: #a0230d;
	--work-color: #f4ce14;
	--house-color: #7752fe;
	--personal-color: #190482;
	--payments-color: #ffb000;
	--ideas-color: #f99417;
}
html {
	font-size: 62.5%;

	scroll-behavior: smooth;
	scroll-padding-top: 7vh;
	scrollbar-width: thin;
	scrollbar-color: var(--main-purple-darker), var(--main-purple);
}
html::-webkit-scrollbar {
	width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
	background-color: var(--main-purple);
	border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: var(--main-purple-darker);
}
html::-webkit-scrollbar-track {
	background: #fff;
}
