@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Sora:wght@200;300;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
main {
	margin-top: 7vh;
}

body {
	font-family: 'Sora', sans-serif;
}

:root {
	--main-purple: #6d21d7;
	--main-purple-darker: #3c0686;
	--white: #fff;
}
