.avatar {
	p {
		color: var(--main-purple-darker);
		font-size: 1.8rem;
	}
	.buttons {
		display: flex;
		gap: 1em;
		button {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			border: 2px solid transparent;
			background-color: var(--white);
			border-radius: 15px;
			cursor: pointer;
			padding: 0.5em 0.5em;
			max-width: 120px;
			transition: background-color 0.3s, color 0.3s;
			&.active {
				border-color: var(--main-purple-darker);
				color: var(--main-purple-darker);
			}
			&:hover {
				background-color: var(--main-purple);
				color: var(--white);
			}
		}
	}
}

.tile {
	display: inline-block;
	cursor: pointer;
	width: 60px;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid transparent;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	&.active {
		border-color: var(--main-purple-darker);
	}
}
