.formBox {
	background-color: var(--white-cream);
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 25px;
	padding: 2em;
	text-align: center;
	h2 {
		font-size: 1.8rem;
		color: var(--main-purple-darker);
	}
	p {
		font-size: 1.3rem;
		max-width: 300px;
		margin: 0 auto;
	}
	button {
		margin: 0.5em 0;
		display: block;
		width: 60%;
		max-width: 250px;
		font-size: 1.6rem;
	}
}

@media (max-height: 500px) {
	.formBox {
		h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media (min-width: 400px) {
	.formBox {
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1.4rem;
		}
		button {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 992px) {
	.formBox {
		width: 400px;
		// margin-left: 2em;
	}
}
