.box {
	display: flex;
	flex-direction: column;
	margin: 2em 0;

	div {
		position: relative;
		svg {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			border-radius: 50%;
			cursor: pointer;
			color: var(--main-purple-darker);
			font-size: 2.5rem;
			position: absolute;
			right: 5%;
			top: 50%;
			transform: translatey(-50%);
		}
	}
	label {
		align-self: flex-start;
		font-size: 2rem;
		margin-left: 0.3em;
		color: var(--main-purple-darker);
	}
	input {
		width: 100%;
		border: none;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
			rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		padding: 1em 0.5em;
		border-radius: 15px;
	}
	p {
		font-size: 1.6rem;
		margin-top: 0.5em;
		color: var(--error);
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			margin-left: 0.2em;
			font-size: 2rem;
		}
	}
}
