.userProfile {
	padding: 3rem 0;
}

.user {
	text-align: center;
	h2 {
		font-size: 2rem;
		color: var(--main-purple-darker);
	}
	p {
		font-size: 2rem;
		margin: 2rem 0;
	}
	.date {
		font-weight: 200;
		font-size: 1.8rem;
	}
	svg {
		color: var(--main-purple-darker);
	}
}

.image {
	position: relative;
	width: 200px;
	margin: 2rem auto;
	img {
		width: 100%;
		height: 100%;
	}

}

@media (min-width: 576px) {
	.user {
		h2 {
			font-size: 2.6rem;
		}
	}
	.image {
		width: 250px;
	}
}
@media (min-width: 768px) {
	.user {
		h2 {
			font-size: 3rem;
		}
		p {
			font-size: 2.2rem;
		}
		.date {
			font-size: 2rem;
		}
	}
	.image {
		width: 300px;
		.edit {
			width: 70px;
			height: 70px;
			svg {
				font-size: 3rem;
			}
		}
	}
}
