.button {
	border: 2px solid #fff;
	font-size: 6rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--finish-button);
	background-color: #fff;
	border-radius: 50%;
	z-index: 500;
	span {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
}



@media(min-width: 768px) {
	.button {
		font-size: 10rem;
	}
}