.link,
.btn {
	background-color: var(--main);
	color: var(--theme);
	border-radius: 10px;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
	&:hover {
		background-color: var(--main-darker);
	}
	&.submit {
		background-color: var(--finish-button);
	}
	&.delete {
		background-color: var(--delete-button);
	}
	&.disabled {
		background-color: #8c8c8c91;
		cursor: not-allowed;
	}
}

.btn {
	border: none;
}

@media (min-width: 576px) {
	.link,
	.btn {
		padding: 0.5em 2em;
	}
}
