.link,
.btn {
	background-color: var(--main-purple);
	color: var(--white);
	border-radius: 10px;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
	&:hover {
		background-color: var(--main-purple-darker);
	}
}

.btn {
	border: none;
}

.finish {
	background-color: var(--finish-button);
}
.delete {
	background-color: var(--delete-button);
}

@media (min-width: 576px) {
	.link,
	.btn {
		padding: 0.5em 2em;
	}
}
