.tasks {
	padding: 3rem 0;
	text-align: center;
	background-color: var(--white);
}

.list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	gap: 2rem;
}

.error {
	color: var(--error);
	font-size: 2rem;
	margin: 3rem auto;
}
