.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6vh;
	line-height: 6vh;
	z-index: 2000;
	transition: box-shadow 0.3s;

	&.blur {
		backdrop-filter: blur(10px);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	nav {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 100%;
		h1 {
			font-size: 1.4rem;
			a {
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 400px) {
	.header {
		nav {
			justify-content: space-around;
			h1 {
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.header {
		nav {
			h1 {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		nav {
			max-width: 900px;
			justify-content: space-between;
		}
	}
}

@media (min-width: 1400px) {
	.header {
		nav {
			max-width: 1200px;
		}
	}
}
