.list {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-right: 2em;
	.btn {
		font-size: 1.2rem;
	}
	.icon {
		border: none;
		font-size: 3rem;
		cursor: pointer;
		background-color: var(--white);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--main-purple);
	}
	li {
		a {
			position: relative;
			img {
				position: absolute;
				border-radius: 25px;
				top: -20px;
				left: 0;
			}
			span {
				position: absolute;
				visibility: hidden;
			}
		}
	}
}

@media (min-width: 400px) {
	.list {
		gap: 1rem;
		.icon {
			font-size: 3.5rem;
		}
	}
}
@media (min-width: 576px) {
	.list {
		gap: 2rem;
		.icon {
			font-size: 4rem;
		}
		.btn {
			font-size: 1.8rem;
		}
	}
}
